body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(45deg, #667eea, #764ba2);
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden; /* Hide the scrollbar */
}

#app {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background: linear-gradient(45deg, #e52d27, #b31217);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

button:hover {
  background: linear-gradient(45deg, #b31217, #e52d27);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #fff;
  padding: 7px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
  font-size: 18px;
  color: black;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

li:hover {
  background: #f0f0f0;
}

#listContainer {
  max-height: 300px;
  overflow-y: auto;
}

/* Hide the scrollbar */
#listContainer::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
